html, body {
    width: 1920px;
    height: 1080px;
}

body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background: #000;
}

.container {
    width: 1522px !important;
}

#main {
    text-align: center;
}

.span11, .span5 {
    margin-left: 0px;
}

.span11 {
    width: 1052px !important;
}

.span5 {
    float: right;
}

#chaos_box {
    width: 463px;
    height: 463px;
    background: url(../img/hp_projectionmapping_console_xy_background.png) no-repeat;
    margin: 0 0 0 auto;
}

button.video {
    border-radius: 0px;
    border: none;
    width: 177px;
    height: 140px;
    margin: 0 11px 16px 0;
    padding: 0px;
}

button.video:last-child {
    margin-right: 0px;
}

.green {
    background: url(../img/hp_projectionmapping_console_button_green.png) no-repeat;
}

.turquoise {
    background: url(../img/hp_projectionmapping_console_button_blue.png) no-repeat;
}

.red {
    background: url(../img/hp_projectionmapping_console_button_red.png) no-repeat;
}

.blue {
    background: url(../img/hp_projectionmapping_console_button_blue2.png) no-repeat;
}

button.video:hover {
    background-position: center center;
}

button.video.active {
    background: url(../img/hp_projectionmapping_console_button_active.png) no-repeat;
}

button.video:focus {
    outline-offset: 0px;
}

#menu {
    position: absolute;
    top: 44%;
}

button.menu_btn {
    width: 459px;
    height: 140px;
    padding: 0px;
}

#screensaver {
    background: url(../img/hp_projectionmapping_console_button_screensaver.png) no-repeat;
}

#demo {
    background: url(../img/hp_projectionmapping_console_button_introvideo.png) no-repeat;
    margin: 0 68px;
}

#mapping {
    background: url(../img/hp_projectionmapping_console_button_projectionmapping.png) no-repeat;
}

#screensaver.active,
#demo.active,
#mapping.active {
    background-position: bottom;
}

#cursor {
    position: absolute;
    display: none;
}

.ui-btn.ui-btn-up-c.ui-shadow.ui-btn-corner-all {
	display: inline-block;
}

.ui-loader.ui-corner-all.ui-body-a.ui-loader-default {
	display: none;
}
